.workUserProfile{
    min-height:450px;
    width:40%;
    background:#252627;
    padding-top:2.5%;
    border-radius:5%;
    @include textDisplay(0.9em, 'Dongle', Roboto, #fff );
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    .teamUserImg{
        height:50%;
        width:45%;
        border-radius:50%;
        margin-left:27.5%;
        background:#333333;
    }
    h1{
        height:50%;
        width:75%;
        border-radius:5%;
        margin-left:12.5%;
        background:#333333;
        line-height:225px;
        text-align:center;
    }
    .userInfo{
        padding:5%;
        color:#fff;
        h2,h3,h4,p{
            margin:1%;
        }
        h2{
            color:#D32F2F;
        }
    }
}