.about_main{
    background:#333333;
    .abt-padd{
        padding:5%;
    }
    .abt_main_head{
        text-align: center;
        @include textDisplay(1.6em, 'Dongle', Roboto, #fff );
        margin:1.5%;
        font-weight:1000;
    }
    .abtSubHead{
        text-align:center;
        @include textDisplay(1em, 'Dongle', Roboto, #fff );
        margin:1.5%;
        font-weight:900;
    }
    .abtMainPara{
        @include textDisplay(0.95em, 'Dongle', Roboto, #fff );
        margin-bottom:2%;
    }
}

.members{
    @include flex(flex, row, nowrap);
    justify-content:flex-start;
}

.member_group_one{
    @include flex(flex, row, nowrap);
    column-gap:2%;
}

.teamMembers{
    width:100%;
    padding-top:2.5%;
}
