.home_wrap{
    //sets content background
    background:#333333;
    //adds some space between footer and bottom of main content
    padding-bottom:2.5%;

    .info_wrap{
        margin-top:450px;
    }

    //sets global styles for home headers
    .section_header{
        font-family: 'Oswald', sans-serif;
        height:75px;
        width:97%;
        border-bottom:solid 1px rgb(37, 38, 39);
        margin:10px;
        padding-left:20px;
        padding-top:10px;
        font-size:2em;
        color:#fff;
    }

    //adds extra space between main content and footer
    .main_footer{
        bottom:-450px;
    }

    //sets width of the medium and large textcards
    .large_textcard, .med_textcard{
        width:47.5%;
    }

    //controls the display for the intro textcards
    .intro_content{
        @include flex(flex, row, nowrap);
        width:90%;
        margin-left:5%;
        column-gap:2.5%;
    }

    .main_content{
        //controls the display for the main text cards
        .info_section{
            @include flex(flex, row, nowrap);
            margin-left:2.5%;
            column-gap:2.5%;
        }
    }
}