.text_comp_one{
    @include flex(flex, row, nowrap);
    margin-top:2.5%;
    width:90%;
    margin-left:5%;
}

.large_textbox_wrap{
    width:47.5%;
}

.small_textbox_wrap{
    width:47.5%;
    margin-left:5%;
}

.text_comp_two{
    @include flex(flex, column, nowrap);
    .comp_two_wrapone{
        @include flex(flex, row, nowrap);
    }
    .comp_two_wraptwo{
        @include flex(flex, row, nowrap);
    }
    div{
        width:98%;
        margin-right:0.5%;
        margin-left:0.5%;
    }
}

.home_wrap{
    background:#333333;
    h2{
        font-family: 'Oswald', sans-serif;
    }
}

.section_header{
    height:75px;
    width:97%;
    border-bottom:solid 1px rgb(37, 38, 39);
    margin:10px;
    padding-left:20px;
    padding-top:10px;
    font-size:2em;
    color:#fff;
}

.text_comp_one, .text_comp_two, .comp_two_wrapone, .comp_two_wraptwo{
    margin-left:1%;
}

.top_block{
    margin-left:5%;
}
.home_wrap{
    padding-bottom:2.5%;
}