.text_box{
    height:600px;
    width: 100%;
    margin-top:2.5%;
    position: relative;
    transition:0.7s;
    border-radius:5px;
    img{
        height: 70%;
        width:100%;
        border-radius:5px;
    }
    .text_area{
        position: absolute;
        height:30%;
        width:97%;
        bottom:0;
        padding:5%;
        transition:0.7s;
        margin:0;
        margin-left:1.75%;
        @include textDisplay(0.8em, 'Dongle', Roboto, #fff );
        background:rgba(0, 0, 0, 0.5);
        
        a{
            color:#fff;
        }
        h2{
            margin-bottom:5px;
            text-transform:uppercase;
        }
        p{
            font-size:1.3em;
        }
    }

    .hov_indicator{
        background:rgb(114, 112, 112);
        height:10px;
        width:30px;
        transition:1s;
    }
}

.text_box:hover .hov_indicator{
    background:rgb(245, 242, 242);
}
.img:hover{
    opacity:0.8;
}