.text_box{
    height:600px;
    width: 100%;
    margin-top:2.5%;
    position: relative;
    margin-bottom:2.5%;
    transition:0.7s;
    box-shadow: 0 8px 6px -6px black;
    img{
        height: 70%;
        width:100%;
    }
    .text_area{
        position: absolute;
        height:30%;
        width:100%;
        bottom:0;
        background:#F44336;
        padding:5%;
        transition:0.7s;
        margin:0;
        @include textDisplay(1em, normal, Roboto, #fff );
    }
}

.text_box:hover .text_area{
    background: rgba(231, 98, 98, 1);
}
.text_box:hover{
    opacity:0.8;
}