.text_box{
    height:600px;
    width: 100%;
    margin-top:2.5%;
    position: relative;
    transition:0.7s;
    border-radius:5px;
    img{
        height: 70%;
        width:100%;
        border-radius:5px;
    }
    .text_area{
        position: absolute;
        height:30%;
        width:100%;
        bottom:0;
        padding:5%;
        transition:0.7s;
        margin:0;
        @include textDisplay(1.1em, normal, 'Dongle', #fff );
        font-weight:900;
        a{
            color:#fff;
        }
        h2{
            margin-bottom:5px;
            text-transform:uppercase;
        }
        p{
            font-size:1.3em;
        }
    }
}

.text_box:hover .text_area{
    h2{
        text-decoration:underline;
    }
}
.img:hover{
    opacity:0.8;
}