.login_form{
    height:500px;
    width:40%;
    background:rgba(244, 64, 52, 0.8);
    margin:auto;
    margin-top:50px;
    margin-bottom:50px;
    box-shadow: 0 8px 6px -6px black;
    padding-top:50px;
    h2{
        text-align:center;
        padding-top:30px;
    }
    label{
        height:100%;
        width:50%;
        margin-left:25%;
        padding-top:50px;
        @include flex(flex, column, nowrap);
        input{
            width:100%;
            height:5%;
            margin-top:2%;
            margin-bottom:2%;
        }
        .login_btn{
            width:75px;
            height:30px;
            border:none;
            margin-top:10px;
            color:#fff;
            background:rgb(37, 38, 39);
        }
    }
}