.login_form{
    height:100%;
    width:35%;
    background:rgba(244, 64, 52, 0.8);
    margin:auto;
    margin-top:50px;
    margin-bottom:50px;
    padding-top:25px;
    border-radius:10px;
    @include textDisplay(1em, normal, 'Roboto', #fff );
    h1{
        text-align:center;
        padding-top:30px;
        margin-bottom:30px;
    }
        label{
            width:50%;
            margin-left:25%;
        }
        input{
            width:70%;
            height:10%;
            margin-top:2%;
            margin-bottom:2%;
            margin-left:15%;
            padding:10px;
            border:0;
            border-radius:10px;
            box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
            @include textDisplay(1em, normal, 'Roboto', #f44034);
        }
        button{
            width:70%;
            height:30px;
            border:none;
            line-height:10px;
            margin-top:10px;
            color:#fff;
            background:rgb(37, 38, 39);
            margin-left:15%;
            border-radius:10px;
            margin-bottom:50px;
        }
        input:hover{
            border:solid 1px #f44034;
        }
    }