.logout_box{
    height:425px;
    text-align:center;
    padding-top:10%;
    @include textDisplay(1em, normal, 'Roboto', #f44034);
    .user_name{
        color:purple;
    }
    
    .logout_btn{
        height:50px;
        width:100px;
        margin-top:15px;
        border-radius:10px;
        border:none;
        background:#fff;
        color:#000;
    }
}