.text_box_md{
    //sets main styles for medium sized card
    height:295px;
    width:100%;
    margin-top:2.5%;
    position: relative;
    margin-bottom:2.5%;
    transition:0.7s;
    img{
        //sets styles for card image
        height: 100%;
        width:100%;
        border-radius:5px;
    }
    .text_area{
        //styles for the information section of the card
        position: absolute;
        min-height:30%;
        width:100%;
        bottom:0;
        padding:2% 5% 2% 5%;
        transition:0.7s;
        margin:0;
        font-weight:900;
        @include textDisplay(0.8em, 'Dongle', Roboto, #fff );
        background:rgba(0, 0, 0, 0.8);
        a{
            color:#F44336;
        }
        h2{
            margin-bottom:5px;
            text-transform:uppercase;
        }
    }
    .text_area:hover{
        background:rgba(0, 0, 0, 1);
    }
    //styles for light up button on card
    .hov_indicator{
        background:rgb(114, 112, 112);
        height:10px;
        width:30px;
        transition:1s;
    }
}

//hover styles for elements
.text_box_md:hover .hov_indicator{
    background:#F44336;
}
.text_box_md:hover .img{
    opacity:0.8;
    transform: scale(1.25);
}
