.profile_page{
    //main profile page styles
    //background color
    background:#F44336;
    width:100%;
    //minimum height of profile page
    min-height:600px;
    color:#fff;
    padding:20px;
    margin:auto;
    //defualt font styles for profile page
    @include textDisplay(0.8em, 'Dongle', Roboto, #fff );
    a{
        //default styles for links
        @include textDisplay(0.8em, 'Dongle', Roboto, #000 );
    }
    .profile_title{
        //sets styles for profile title
        color:#fff;
        text-transform: uppercase;
        text-align: center;
    }
    .profile_img{
        //sets styles for profile image
        border-radius:50%;
        width:15%;
        height:200px;
        margin-left:42.5%;
        margin-top:20px;
    }
    .profile_info{
        text-align:center;
    }

    //sets styles for folling count tab
    .follow_count{
        //sets arrangement for each tab
        display:flex;
        flex-direction: row;
        width:50%;
        margin-left:25%;
        margin-top:25px;
        .following{
            width:50%;
            text-align: center;
        }
        .followers{
            width:50%;
            text-align: center;
        }
    }
}

.following_tab{
    //sets styles for the following tab as a whole
    background: #464545;
    width:70%;
    height:75px;
    border-radius:20px;
    //sets to middle of page
    margin:auto;
    margin-top:35px;
    margin-bottom:35px;
    padding:15px 10px 10px 20px;
    transition: 1s;
    //adds small floating effect
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    a{
        color:#fff;
        text-decoration: none;
    }
}

.following_tab:hover{
    background:#ccc;
    a{
        color:#464545;
    }
}
