.text_box_small{
    height:295px;
    width:100%;
    margin-top:2.5%;
    position: relative;
    margin-bottom:2.5%;
    transition:0.7s;
    img{
        height: 70%;
        width:100%;
    }
    .text_area{
        position: absolute;
        height:30%;
        width:100%;
        bottom:0;
        padding:5%;
        transition:0.7s;
        margin:0;
        @include textDisplay(0.65em, normal, Roboto, #fff );
    }
}

.text_box_small:hover .text_area{
    background: #F44336;
    h2{
        text-decoration:underline;
    }
}
.text_box_small:hover .img{
    opacity:0.8;
    transform: scale(1.25);
}