.text_box_small{
    height:295px;
    width:100%;
    margin-top:2.5%;
    position: relative;
    margin-bottom:2.5%;
    transition:0.7s;
    box-shadow: 0 8px 6px -6px black;
    img{
        height: 70%;
        width:100%;
    }
    .text_area{
        position: absolute;
        height:30%;
        width:100%;
        bottom:0;
        background: rgba(255, 255, 255, 0.5);
        padding:5%;
        transition:0.7s;
        margin:0;
        @include textDisplay(0.65em, normal, Roboto, #000 );
    }
}

.text_box_small:hover .text_area{
    background: rgb(249, 51, 255);
}
.text_box_small:hover{
    opacity:0.8;
}