/*
Colors:
#D32F2F
#FFCDD2
#F44336
#FFFFFF
#607D8B
#212121
#757575
#BDBDBD
*/

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  overflow-x:hidden;
  width:80%;
  margin:auto;
}

.App{
  width:80%;
  min-height:100vh;
  background:blue;
  margin:auto;
}


/* navigation styles */
.Navbar{
  height:6vh;
  background:#F44336;
  position:relative;
  padding-right:15px;
}

.logo{
  height:100%;
  width:100%;
}

.Navbar li{
  display:inline-block;
  margin-left:10px;
}

.Navbar a{
  display:block;
  height:50px;
  width:50px;
  line-height:50px;
  color:#fff;
  text-decoration:none;
  font-size:0.9em;
  font-family: 'Roboto', sans-serif;
}

.logo-link{
  margin-top:7.5px;
  float:left;
}

.logo-link a{
  height:40px;
  width:40px;
}

.Navbar h3{
  font-size:0.8em;
  font-family: 'Roboto', sans-serif;
  color:#212121;
}

.main-nav-ul{
  float:left;
  position:relative;
}

.acc-ul{
  float:right;
}


/* Footer styles */
.Footer{
  position:absolute;
  height:12vh;
  width:64%;
  background:green;
  bottom:0;
}

/*About page styles*/
.About{
  min-height:82vh;
  background:yellow;
}

/*Home style pages*/
.Home{
  min-height:82vh;
  background:orange;
}
