@import 'mixins.scss';
@import './components/header.scss';
@import './components/banner.scss';

/*
Colors:
#D32F2F
#FFCDD2
#F44336
#FFFFFF
#607D8B
#212121
#757575
#BDBDBD
*/

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  overflow-x: hidden;
}

.App{
  @include flex(flex, column, nowrap);
  min-height: 100%;
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 770px) {

  .navbar{
    height: 12vh;
    .navbar-ul{
      flex-direction: column-reverse !important;
      .nav-left{
        height: 7vh;
        width: 100%;
      }
      .nav-right{
        height: 5vh;
        width: 100%;
        background: #F44336;
        a{
          height: 5vh;
          line-height: 5vh;
        }
      }
    }
  }

  .imageInfo{
    display:none;
  }

}
