@import 'mixins.scss';
@import './components/header.scss';
@import './components/banner.scss';
@import './components/lgTextBox.scss';
@import './components/SmTextBox.scss';
@import './components/MdTextBox.scss';
@import './components/home.scss';
@import './components/footer.scss';
@import './components/logonForm.scss';
@import './components/logout.scss';
@import './components/about.scss';
@import './components/aboutuser.scss';
@import './components/profile.scss';
@import './components/animecard.scss';

/*
Colors:
#D32F2F
#FFCDD2
#F44336
#FFFFFF
#607D8B
#212121
#757575
#BDBDBD
*/

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  overflow-x: hidden;
  background:rgb(37, 38, 39);
  height:100%;
}

html{
  height:100%;
}

.App{
  @include flex(flex, column, nowrap);
  min-height:calc(100vh - 325px);
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 770px) {

  .navbar{
    height: 12vh;
    .navbar-ul{
      flex-direction: column-reverse !important;
      .nav-left{
        height: 7vh;
        width: 100%;
      }
      .nav-right{
        height: 5vh;
        width: 100%;
        background: #F44336;
        a{
          height: 5vh;
          line-height: 5vh;
        }
      }
    }
  }

  .imageInfo{
    display:none;
  }

  .login_form{
    width:100%;
    margin-top:0;
    border-radius:0;
    height:115%;
  }

  .App{
    width:100%;
  }

  .text_comp_one{
    flex-direction: column;
  }

  .large_textbox_wrap{
    width:100%;
  }

  .small_textbox_wrap{
    width:100%;
    margin-left:0;
  }

  .text_comp_two .comp_two_wrapone{
    flex-direction: column;
}

  .text_comp_two .comp_two_wraptwo{
    flex-direction: column;
  }

  .main_footer{
    padding-top:50px;
  }

  .fa-2x{
    font-size:1.5em;
  }

  .member_group_one{
    @include flex(flex, column, nowrap);
  }
  .member_group_two{
    @include flex(flex, column, nowrap);
  }

  .workUserProfile{
    width:100% !important;
    margin-bottom:2% !important;
    @include textDisplay(1.1em, 'Dongle', Roboto, #fff );
    h1{
      height:40% !important;
      margin-top:5%;
      line-height:200px;
    }
  }

  .members{
    margin-left:0 !important;
  }

  .fixed_sidebar_login{
    width:100%;
    border-radius:0;
  }

  .anime_group{
    width:100% !important;
  }

}

@media screen and (max-width: 1600px){
  .workUserProfile{
    width:45%;
  }

  .teamMembers h1{
    padding:2.5%;
  }

  .members{
    margin-left:7.5%;
  }

  .teamUserImg{
    width:45% !important;
    margin-left:27.5% !important;
  }
}

.progress{
  @include textDisplay(3em, 'Dongle', Roboto, #fff );
  text-align:center;
  margin-top:150px;
}

@media screen and (max-width: 1200px){
  .con_side{
    display:none;
  }
  .con_main{
    margin-left:10% !important;
  }

  .anime_group{
    width:40% !important;
    margin:5% !important;
  }
}